{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="icon" href="{% static 'images/icon.jpg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <title>DeeStarks University - {{ request.resolver_match.url_name|title }}</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="front_page" id="front_page">
        <div class="background">
            <div class="navbar">
                <a href="{% url 'home' %}" id="brand"><div class="brand">
                    <div class="logo">D<span>U</span></div>
                    <div class="brand_text">
                        <div>
                            <div>DEESTARKS</div>
                            <div>UNIVERSITY</div>
                        </div>
                    </div>
                </div></a>
                <div class="nav_items">
                    <a href="{% url 'start' %}">Get Started</a>
                    <a href="{% url 'logout' %}" class="out">LOG OUT</a>
                    <i class="fas fa-bars"></i>
                </div>
            </div>

            {% if request.user.groups.all.0.name == 'students' %}

            <div class="sidebar">
                <div class="side_in">
                    <div class="side_profile">
                        <i class="fas fa-times"></i>
                        <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}"><div style="border-radius:50%; overflow: hidden;background-color: rgb(0, 24, 68)" class="dp d-flex align-items-center justify-content-center"><img src="{% if user_profile %}{{ user_profile.profile_pic.url }}{% else %}{% static 'images/default-user.png' %}{% endif %}" alt="" width="100%"></div>
                        <div class="name profile-name">{{ request.user.get_full_name }}</div></a>
                    </div>
                    <div class="sidenav_link">
                        <div>
                            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><i class="fas fa-newspaper"></i>News Feed</a>
                            <a href="{% url 'courses' %}" class="{% if request.resolver_match.url_name == 'courses' %}active{% endif %}"><i class="fas fa-book"></i>Courses</a>
                            <a href="{% url 'records' %}" class="{% if request.resolver_match.url_name == 'records' %}active{% endif %}"><i class="fas fa-file-alt"></i>Records</a>
                            <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><i class="fas fa-user"></i>Profile</a>
                            <a href="{% url 'notification' %}" class="{% if request.resolver_match.url_name == 'notification' %}active{% endif %}"><i class="fas fa-bell"></i>Notification <span>2</span></a>
                            <a href="{% url 'voucher' %}"  class="{% if request.resolver_match.url_name == 'voucher' %}active{% endif %}"><i class="fas fa-money-check"></i>Fee Voucher</a>
                            <a href="{% url 'table' %}" class="{% if request.resolver_match.url_name == 'table' %}active{% endif %}"><i class="fas fa-table"></i>Time Tables</a>
                            <a href="{% url 'library' %}" class="{% if request.resolver_match.url_name == 'library' %}active{% endif %}"><i class="fas fa-book-reader"></i>Digital Library</a>
                            <a href="{% url 'attendance' %}"  class="{% if request.resolver_match.url_name == 'attendance' %}active{% endif %}" class="`"><i class="fas fa-chart-bar"></i>Attendance</a>
                            <a href="{% url 'result' %}" class="{% if request.resolver_match.url_name == 'result' %}active{% endif %}"><i class="fas fa-graduation-cap"></i>My Result</a>
                            <a href="{% url 'start' %}" class="side_link02"><i class="fas fa-info-circle"></i>Get Started</a>
                            <a href="{% url 'logout' %}"><i class="fas fa-power-off"></i>Log Out</a>
                        </div>
                    </div>
                    <div class="account">
                        <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                        <div class="acct_title">&copy;{{ year }} DeeStarks Inc.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="open_side">
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="side_nav">
            <div class="side_in">
                <div class="side_profile">
                    <i class="fas fa-chevron-left"></i>
                    <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}"><div style="border-radius:50%; overflow: hidden;background-color: rgb(0, 24, 68)" class="dp d-flex align-items-center justify-content-center"><img src="{% if user_profile %}{{ user_profile.profile_pic.url }}{% else %}{% static 'images/default-user.png' %}{% endif %}" alt="" width="100%"></div>
                    <div class="name profile-name">{{ request.user.get_full_name }}</div></a>
                </div>
                <div class="sidenav_link">
                    <div>
                        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><i class="fas fa-newspaper"></i>News Feed</a>
                        <a href="{% url 'courses' %}" class="{% if request.resolver_match.url_name == 'courses' %}active{% endif %}"><i class="fas fa-book"></i>Courses</a>
                        <a href="{% url 'records' %}" class="{% if request.resolver_match.url_name == 'records' %}active{% endif %}"><i class="fas fa-file-alt"></i>Records</a>
                        <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><i class="fas fa-user"></i>Profile</a>
                        <a href="{% url 'notification' %}" class="{% if request.resolver_match.url_name == 'notification' %}active{% endif %}"><i class="fas fa-bell"></i>Notification <span>2</span></a>
                        <a href="{% url 'voucher' %}"  class="{% if request.resolver_match.url_name == 'voucher' %}active{% endif %}"><i class="fas fa-money-check"></i>Fee Voucher</a>
                        <a href="{% url 'table' %}" class="{% if request.resolver_match.url_name == 'table' %}active{% endif %}"><i class="fas fa-table"></i>Time Tables</a>
                        <a href="{% url 'library' %}" class="{% if request.resolver_match.url_name == 'library' %}active{% endif %}"><i class="fas fa-book-reader"></i>Digital Library</a>
                        <a href="{% url 'attendance' %}"  class="{% if request.resolver_match.url_name == 'attendance' %}active{% endif %}"><i class="fas fa-chart-bar"></i>Attendance</a>
                        <a href="{% url 'result' %}" class="{% if request.resolver_match.url_name == 'result' %}active{% endif %}"><i class="fas fa-graduation-cap"></i>My Result</a>
                    </div>
                </div>
                <div class="account">
                    <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                    <div class="acct_title">&copy;{{ year }} DeeStarks Inc.</div>
                </div>
            </div>
        </div>

        {% elif request.user.groups.all.0.name == 'staff' %}
            <div class="sidebar">
                <div class="side_in">
                    <div class="side_profile">
                        <i class="fas fa-times"></i>
                        <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}"><div style="border-radius:50%; overflow: hidden;background-color: rgb(0, 24, 68)" class="dp d-flex align-items-center justify-content-center"><img src="{% if user_profile %}{{ user_profile.profile_pic.url }}{% else %}{% static 'images/default-user.png' %}{% endif %}" alt="" width="100%"></div>
                        <div class="name profile-name">{{ request.user.get_full_name }}</div></a>
                    </div>
                    <div class="sidenav_link">
                        <div>
                            <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><i class="fas fa-newspaper"></i>News Feed</a>
                            <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><i class="fas fa-user"></i>Profile</a>
                            <a href="{% url 'notification' %}" class="{% if request.resolver_match.url_name == 'notification' %}active{% endif %}"><i class="fas fa-bell"></i>Notification <span>1</span></a>
                            <a href="{% url 'allocated courses' %}" class="{% if request.resolver_match.url_name == 'allocated courses' %}active{% endif %}"><i class="fas fa-book"></i>Allocated Courses</a>
                            <a href="{% url 'scoresheet' %}" class="{% if request.resolver_match.url_name == 'scoresheet' or request.resolver_match.url_name == 'upload' %}active{% endif %}"><i class="fas fa-file-alt"></i>Upload Scoresheet</a>
                            <a href="start" class="side_link02"><i class="fas fa-info-circle"></i>Get Started</a>
                            <a href="{% url 'logout' %}"><i class="fas fa-power-off"></i>Log Out</a>
                        </div>
                    </div>
                    <div class="account">
                        <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                        <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                        <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                        <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                        <div class="acct_title">&copy;{{ year }} DeeStarks Inc.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="open_side">
            <i class="fas fa-chevron-right"></i>
        </div>
        <div class="side_nav">
            <div class="side_in">
                <div class="side_profile">
                    <i class="fas fa-chevron-left"></i>
                    <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}"><div style="border-radius:50%; overflow: hidden;background-color: rgb(0, 24, 68)" class="dp d-flex align-items-center justify-content-center"><img src="{% if user_profile %}{{ user_profile.profile_pic.url }}{% else %}{% static 'images/default-user.png' %}{% endif %}" alt="" width="100%"></div>
                    <div class="name profile-name">{{ request.user.get_full_name }}</div></a>
                </div>
                <div class="sidenav_link">
                    <div>
                        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><i class="fas fa-newspaper"></i>News Feed</a>
                        <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><i class="fas fa-user"></i>Profile</a>
                        <a href="{% url 'notification' %}" class="{% if request.resolver_match.url_name == 'notification' %}active{% endif %}"><i class="fas fa-bell"></i>Notification <span>1</span></a>
                        <a href="{% url 'allocated courses' %}" class="{% if request.resolver_match.url_name == 'allocated courses' %}active{% endif %}"><i class="fas fa-book"></i>Allocated Courses</a>
                        <a href="{% url 'scoresheet' %}" class="{% if request.resolver_match.url_name == 'scoresheet' or request.resolver_match.url_name == 'upload' %}active{% endif %}"><i class="fas fa-file-alt"></i>Upload Scoresheet</a>
                    </div>
                </div>
                <div class="account">
                    <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                    <div class="acct_title">&copy;{{ year }} DeeStarks Inc.</div>
                </div>
            </div>
        </div>

        {% elif request.user.is_superuser or request.user.groups.all.0.name == 'admin' %}
        <div class="sidebar">
            <div class="side_in">
                <div class="side_profile">
                    <i class="fas fa-times"></i>
                    <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}"><div style="border-radius:50%; overflow: hidden;background-color: rgb(0, 24, 68)" class="dp d-flex align-items-center justify-content-center"><img src="{% if user_profile %}{{ user_profile.profile_pic.url }}{% else %}{% static 'images/default-user.png' %}{% endif %}" alt="" width="100%"></div>
                    <div class="name profile-name">{{ request.user.get_full_name }}</div></a>
                </div>
                <div class="sidenav_link">
                    <div>
                        <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><i class="fas fa-columns"></i>Dashboard</a>
                        <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><i class="fas fa-user"></i>Profile</a>
                        <a href="{% url 'update post' %}" class="{% if request.resolver_match.url_name == 'update post' %}active{% endif %}"><i class="fas fa-newspaper"></i>Update Newsfeed</a>
                        <a href="{% url 'students' %}" class="{% if request.resolver_match.url_name == 'students' %}active{% endif %}"><i class="fas fa-users-cog"></i>Students</a>
                        <a href="{% url 'staff' %}" class="{% if request.resolver_match.url_name == 'staff' %}active{% endif %}"><i class="fas fa-users-cog"></i>Staff</a>
                        <a href="{% url 'register' %}" class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}"><i class="fas fas fa-user-plus"></i>Add New User</a>
                        <a href="{% url 'all courses' %}" class="{% if request.resolver_match.url_name == 'all courses' %}active{% endif %}"><i class="fas fa-book"></i>Courses </a>
                        <a href="{% url 'allocate course' %}" class="{% if request.resolver_match.url_name == 'allocate course' %}active{% endif %}"><i class="fas fa-user-tag"></i>Course Allocation</a>
                        <a href="{% url 'allocated list' %}" class="{% if request.resolver_match.url_name == 'allocated list' %}active{% endif %}"><i class="fas fa-clipboard-list"></i>Allocation List</a>
                        <a href="update-timetable.html"><i class="fas fa-table"></i>Update Timetable</a>
                        <a href="update-library.html"><i class="fas fa-book"></i>Update Students Library</a>
                        <a href="mastersheet.html"><i class="fas fa-file-alt"></i>Result Mastersheet</a>
                        <a href="semester.html"><i class="fas fa-cogs"></i>Semester Settings</a>
                        <a href="session.html"><i class="fas fa-cogs"></i>Session Settings</a>
                        <a href="{% url 'logout' %}" class="side_link02"><i class="fas fa-power-off"></i>Log Out</a>
                    </div>
                </div>
                <div class="account">
                    <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                    <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                    <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                    <div class="acct_title">&copy;{{ year }} DeeStarks Inc.</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="main">
    <div class="open_side">
        <i class="fas fa-chevron-right"></i>
    </div>
    <div class="side_nav">
        <div class="side_in">
            <div class="side_profile">
                <i class="fas fa-chevron-left"></i>
                <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}"><div style="border-radius:50%; overflow: hidden;background-color: rgb(0, 24, 68)" class="dp d-flex align-items-center justify-content-center"><img src="{% if user_profile %}{{ user_profile.profile_pic.url }}{% else %}{% static 'images/default-user.png' %}{% endif %}" alt="" width="100%"></div>
                <div class="name profile-name">{{ request.user.get_full_name }}</div></a>
            </div>
            <div class="sidenav_link">
                <div>
                    <a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}"><i class="fas fa-columns"></i>Dashboard</a>
                    <a href="{% url 'profile' request.user.groups.all.0.name request.user.id request.user|lower %}" class="{% if request.resolver_match.url_name == 'profile' %}active{% endif %}"><i class="fas fa-user"></i>Profile</a>
                    <a href="{% url 'update post' %}" class="{% if request.resolver_match.url_name == 'update post' %}active{% endif %}"><i class="fas fa-newspaper"></i>Update Newsfeed</a>
                    <a href="{% url 'students' %}" class="{% if request.resolver_match.url_name == 'students' %}active{% endif %}"><i class="fas fa-users-cog"></i>Students</a>
                    <a href="{% url 'staff' %}" class="{% if request.resolver_match.url_name == 'staff' %}active{% endif %}"><i class="fas fa-users-cog"></i>Staff</a>
                    <a href="{% url 'register' %}" class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}"><i class="fas fas fa-user-plus"></i>Add New User</a>
                    <a href="{% url 'all courses' %}" class="{% if request.resolver_match.url_name == 'all courses' %}active{% endif %}"><i class="fas fa-book"></i>Courses </a>
                    <a href="{% url 'allocate course' %}" class="{% if request.resolver_match.url_name == 'allocate course' %}active{% endif %}"><i class="fas fa-user-tag"></i>Course Allocation</a>
                    <a href="{% url 'allocated list' %}" class="{% if request.resolver_match.url_name == 'allocated list' %}active{% endif %}"><i class="fas fa-clipboard-list"></i>Allocation List</a>
                    <a href="update-timetable.html"><i class="fas fa-table"></i>Update Timetable</a>
                    <a href="update-library.html"><i class="fas fa-book"></i>Update Students Library</a>
                    <a href="mastersheet.html"><i class="fas fa-file-alt"></i>Result Mastersheet</a>
                    <a href="semester.html"><i class="fas fa-cogs"></i>Semester Settings</a>
                    <a href="session.html"><i class="fas fa-cogs"></i>Session Settings</a>
                </div>
            </div>
            <div class="account">
                <a href="https://www.facebook.com/OnojaDaniel246/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/daniel-onoja-044a611b3/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://api.whatsapp.com/send?phone=2349036471865" target="_blank"><i class="fab fa-whatsapp"></i></a>
                <a href="https://twitter.com/OnojaDaniel20" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/deestarks.py/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="mailto: danielonoja246@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/DeeStarks" target="_blank"><i class="fab fa-github"></i></a>
                <div class="acct_title">&copy;{{ current_year }} DeeStarks Inc.</div>
            </div>
        </div>
    </div>
    {% endif %}

    {% block page_content %}
    
    {% endblock %}   
    </div>
    <script src="{% static 'jq/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static '/js/admin.js' %}"></script>
</body>
</html>