{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="main_body records">
    <div class="body_title">YOUR RECORDS</div>
    <hr>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Freshman (100L) <i class="fas fa-chevron-down"></i>
                    </button>
                </h5>
            </div>
        
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="record-details">
                        <table>
                            <col style="width:80%">
                            <col style="width:20%">
                            <tr>
                                <td>First Semester GPA</td>
                                <td>4.8</td>
                            </tr>
                            <tr>
                                <td>Second Semester GPA</td>
                                <td>4.7</td>
                            </tr>
                            <tr>
                                <td>CGPA</td>
                                <td>4.75</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Sophomore (200L) <i class="fas fa-chevron-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <div class="record-details">
                        <table>
                            <col style="width:80%">
                            <col style="width:20%">
                            <tr>
                                <td>First Semester GPA</td>
                                <td>4.8</td>
                            </tr>
                            <tr>
                                <td>Second Semester GPA</td>
                                <td>4.7</td>
                            </tr>
                            <tr>
                                <td>CGPA</td>
                                <td>4.75</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Junior Student (300L) <i class="fas fa-chevron-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <div class="record-details">
                        <table>
                            <col style="width:80%">
                            <col style="width:20%">
                            <tr>
                                <td>First Semester GPA</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td>Second Semester GPA</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td>CGPA</td>
                                <td>--</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Senior Student(400L) <i class="fas fa-chevron-down"></i>
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    <div class="record-details">
                        <table>
                            <col style="width:80%">
                            <col style="width:20%">
                            <tr>
                                <td>First Semester GPA</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td>Second Semester GPA</td>
                                <td>--</td>
                            </tr>
                            <tr>
                                <td>CGPA</td>
                                <td>--</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
