{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="main_body result">
    <div class="body_title">YOUR RESULT</div>
    <hr>
    <div class="result-info">
        <p>- Sophomore (200L)</p>
        <p>- Second Semester (2020/2021)</p>
    </div>
    <section class="pt-5 result-table">
        <div id="result">
            <div class="tbl-header pr-3">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <col style="width:5%">
                    <col style="width:15%">
                    <col style="width:17%">
                    <col style="width:15%">
                    <col style="width:5%">
                    <col style="width:17%">
                    <col style="width:17%">
                    <col style="width:11%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Course Units</th>
                            <th>CA</th>
                            <th>Exam Score</th>
                            <th>Total Score</th>
                            <th>Grade</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <col style="width:5%">
                    <col style="width:15%">
                    <col style="width:17%">
                    <col style="width:15%">
                    <col style="width:5%">
                    <col style="width:17%">
                    <col style="width:17%">
                    <col style="width:11%">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>GSP 201</td>
                            <td>Humanities I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>40</td>
                            <td>80</td>
                            <td>A</td>
                        </tr>
                        <tr class="even">
                            <td>2</td>
                            <td>CSC 201</td>
                            <td>Computer Programming I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>30</td>
                            <td>60</td>
                            <td>B</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>GSP 201</td>
                            <td>Humanities I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>40</td>
                            <td>80</td>
                            <td>A</td>
                        </tr>
                        <tr class="even">
                            <td>4</td>
                            <td>CSC 201</td>
                            <td>Computer Programming I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>30</td>
                            <td>60</td>
                            <td>B</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>GSP 201</td>
                            <td>Humanities I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>40</td>
                            <td>80</td>
                            <td>A</td>
                        </tr>
                        <tr class="even">
                            <td>6</td>
                            <td>CSC 201</td>
                            <td>Computer Programming I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>30</td>
                            <td>60</td>
                            <td>B</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>GSP 201</td>
                            <td>Humanities I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>40</td>
                            <td>80</td>
                            <td>A</td>
                        </tr>
                        <tr class="even">
                            <td>8</td>
                            <td>CSC 201</td>
                            <td>Computer Programming I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>30</td>
                            <td>60</td>
                            <td>B</td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>GSP 201</td>
                            <td>Humanities I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>40</td>
                            <td>80</td>
                            <td>A</td>
                        </tr>
                        <tr class="even">
                            <td>10</td>
                            <td>CSC 201</td>
                            <td>Computer Programming I</td>
                            <td>2</td>
                            <td>40</td>
                            <td>30</td>
                            <td>60</td>
                            <td>B</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="tbl-foot">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr>
                        <td><a href="#"><button><i class="fas fa-print"></i> Print Result</button></a></td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <br><br>
    <div class="result-details mt-5">
        <table>
            <col style="width:80%">
            <col style="width:20%">
            <tr>
                <td>200L First Semester GPA</td>
                <td>4.8</td>
            </tr>
            <tr>
                <td>200L Second Semester GPA</td>
                <td>4.7</td>
            </tr>
            <tr>
                <td>CGPA</td>
                <td>4.55</td>
            </tr>
        </table>
    </div>
</div>

{% endblock %}
