{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="main_body timetable">
    <div class="body_title">SCHEDULE OF CLASSES (TIMETABLE)</div>
    <hr>
    <div class="row">
        <div class="col-12 row">
            <div class="col-md-3 col-sm-12">Today, 14:00</div>
            <div class="col-md-6 col-sm-12">New Timetable Updated</div>
            <div class="col-md-3 col-sm-12"><a href="#">Download <i class="far fa-arrow-alt-circle-down"></i></a></div>
        </div>
        <div class="col-12 row">
            <div class="col-md-3 col-sm-12">14/07/2020, 15:00</div>
            <div class="col-md-6 col-sm-12">New Timetable Updated</div>
            <div class="col-md-3 col-sm-12"><a href="#">Download <i class="far fa-arrow-alt-circle-down"></i></a></div>
        </div>
        <div class="col-12 row">
            <div class="col-md-3 col-sm-12">10/05/2020, 11:00</div>
            <div class="col-md-6 col-sm-12">New Timetable Updated</div>
            <div class="col-md-3 col-sm-12"><a href="#">Download <i class="far fa-arrow-alt-circle-down"></i></a></div>
        </div>
    </div>
</div>

{% endblock %}
