@font-face {
    font-family: Montserrat;
    src: url("../font/Montserrat.ttf");
}

@font-face {
    font-family: Dosis;
    src: url("../font/Dosis.ttf");
}

*{
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    transition: 200ms !important;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden !important;
    max-width: 100%;
}

.line_below_center{
    width: 100px;
    height: 5px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.247));
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    margin-bottom: 50px;
}

.line_below_left{
    width: 100px;
    height: 5px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.247));
    margin-left: 50px;
    border-radius: 50px;
    margin-bottom: 50px;
}

.navbar{
    padding: 8px 70px 5px 70px !important;
    position: fixed !important;
    top: 0;
    width: 100%;
    background-color: rgb(243, 243, 243);
    z-index: 9;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.267);
}

.navbar #brand{
    text-decoration: none;
}

.navbar .brand{
    height: 60px;
}

.navbar .brand .logo{
    font-weight: bold;
    line-height: 50px;
    width: 60px;
    /* border: 1px solid rgba(0, 0, 0, 0.445); */
    background-color: rgba(0, 81, 255, 0.212);
    border-radius: 2px;
    box-sizing: border-box !important;
    text-align: center;
    font-size: 45px;
    font-family: Dosis !important;
    color: rgb(0, 32, 90) !important;
    float: left;
    margin-right: 10px;
    transition: all 200ms !important;
}

.navbar .brand .logo span{
    font-family: Dosis;
    color: rgba(0, 32, 90, 0.576) !important;
}

.brand_text{
    display: flex;
    height: 50px;
    align-items: center !important;
    justify-content: center;
}

.brand_text div:nth-child(1){
    float: left;
    font-weight: 800;
    width: 100% !important;
    color: rgb(0, 32, 90) !important;
    font-size: 30px;
    line-height: 25px;
    padding-top: 5px;
}

.brand_text div:nth-child(2){
    font-weight: 600;
    width: 100% !important;
    font-size: 18px;
    color: rgba(0, 32, 90, 0.576) !important;
    letter-spacing: 8px;
}

@media (max-width: 500px){
    .navbar{
        margin: 0;
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .navbar .brand .logo{
        line-height: 45px;
        width: 45px;
        font-size: 30px;
    }
    .brand_text{
        height: 45px;
    }
    .brand_text div:nth-child(1){
        font-size: 18px;
        line-height: 20px;
    }
    
    .brand_text div:nth-child(2){
        font-size: 10px;
        letter-spacing: 5px;
    }
}

.navbar .nav_items, .navbar .nav_items02{
    float: right !important;
}

.navbar .nav_items a, .navbar .nav_items02 a{
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(0, 32, 90);
    text-decoration: none;
    transition: 200ms;
}

.navbar .nav_items .out, .navbar .nav_items02 .out{
    background-color: rgb(0, 32, 90);
    color: white;
    line-height: 20px;
    border: 2px solid rgba(0, 32, 90, 0.774);
}

.navbar .nav_items a:hover{
    color: rgba(0, 32, 90, 0.576);
}

.navbar .nav_items .out:hover, .navbar .nav_items02 .out:hover{
    background-color: transparent;
    color: rgb(0, 32, 90);
}

.navbar .nav_items .fa-bars{
    font-size: 25px;
    color: rgb(0, 32, 90) !important;
    display: none;
    cursor: pointer;
    transition: 200ms;
}

.navbar .nav_items .fa-bars:hover{
    transform: scale(1.05);
}

@media (max-width: 500px){
    .navbar .nav_items .fa-bars{
        font-size: 18px;
    }
}

.sidebar{
    position: fixed;
    width: 300px;
    top: 0;
    right: -100%;
    height: 100vh;
    transition: 400ms !important;
    display: none;
    z-index: 10;
    background-color: rgb(0, 32, 90);
    overflow: hidden;
    padding: 5px 0px;
    transition: 500ms;
}

.sidebar .side_in .sidenav_link{
    float: left;
    width: 100%;
    height: calc(100vh - 240px);
    position: relative;
    overflow-y: scroll;
}

.side_in .side_link02{
    border-top: 1px solid rgba(255, 255, 255, 0.055);
}

@media (max-width: 900px){
    .navbar .nav_items a{
        display: none;
    }
    
    .navbar .nav_items .fa-bars{
        display: block;
    }

    .sidebar{
        display: block;
    }
}

@media (max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.account{
    background-color: rgb(206, 206, 206);
    position: absolute;
    padding: 5px 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    left: 0;
    bottom: 10px;
}

.account .acct_title{
    font-size: 10px;
    font-style: italic;
    line-height: 10px;
    font-weight: 600;
    text-align: center;
    color: rgb(0, 32, 90);
}

.account a i{
    font-size: 20px;
    color: rgb(0, 32, 90);
    margin: 5px;
}

.open_side{
    width: 40px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding-left: 10px;
    background-color: rgb(0, 32, 90);
    transition: 200ms;
    cursor: pointer;
    display: block;
}

.open_side:hover{
    padding-left: 20px;
}

.open_side i{
    color: white;
    padding: 50vh 0;
}

.side_nav{
    width: 300px;
    height: 100vh;
    background-color: rgb(0, 32, 90);
    overflow: hidden;
    padding: 70px 0px;
    position: fixed;
    transition: 500ms;
    display: block;
}

.side_in .side_profile{
    width: 100%;
    padding: 40px 20px 20px 20px;
    position: relative;
    float: left;
    border-bottom: 2px solid rgba(255, 255, 255, 0.097);
}

.side_in .side_profile i{
    position: absolute;
    top: 5px;
    right: 2px;
    width: 50px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.822);
    border: 1px solid rgba(255, 255, 255, 0.138);
    cursor: pointer;
    transition: 200ms;
}

.side_in .side_profile i:hover{
    background-color: rgba(255, 255, 255, 0.822);
    color: rgb(0, 32, 90);
}

.side_in .side_profile .dp{
    width: 100px;
    height: 100px;
    margin-right: 10px;
    border-radius: 50%;
    float: left;
}

.side_in .side_profile .name{
    width: 140px;
    height: 100px;
    overflow: hidden;
    float: left;
    color: white;
    display: flex;
    align-items: center;
    font-family: Dosis;
    font-size: 20px;
    font-weight: 600;
}

.side_in .sidenav_link{
    float: left;
    width: 100%;
    height: calc(100vh - 300px);
    position: relative;
    overflow-y: scroll;
}

.side_in .sidenav_link::-webkit-scrollbar{
    width: 5px;
    z-index: 7 !important;
}

.side_in .sidenav_link::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.534);
}

.side_in .sidenav_link::-webkit-scrollbar-track{
    background-color: transparent;
}

.side_in .sidenav_link a{
    display: block;
    width: 100%;
    line-height: 40px;
    color: rgb(228, 228, 228);
    text-decoration: none;
    padding: 0px 20px;
    font-size: 13px;
    transition: 200ms;
}

.side_in .sidenav_link a:hover{
    background-color: rgb(0, 24, 68);
}

.side_in .sidenav_link .active{
    background-color: rgb(0, 24, 68);
}

.side_in .sidenav_link a i{
    width: 30px;
}

.side_in .sidenav_link a span{
    position: absolute;
    font-size: 10px;
    margin-top: 8px;
    left: 26px;
    color: white;
    background-color: rgb(140, 0, 0);
    padding: 3px;
    border-radius: 50%;
    line-height: 6px;
}

.main_body{
    background-color: white;
    padding: 100px 50px 50px 350px;
    width: 100%;
    overflow: hidden;
}

@media (max-width: 900px){
    .side_nav, .open_side{
        display: none;
    }

    .main_body{
        padding: 100px 50px 50px 50px !important;
    }
}

.body_title{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.761);
    font-weight: bold;
}

.news_title{
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    line-height: 50px;
    background-color: rgb(0, 32, 90);
    font-weight: 600;
    margin-bottom: 50px;
}

.post_head{
    width: calc(100% - 300px);
    background-color: black;
    margin-left: 300px;
    position: relative;
    padding-top: 70px;
}

.post_head_img{
    background-image: url("../images/news.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 50vh;
}

@media(max-width: 900px){
    .post_head{
        width: 100%;
        margin-left: 0;
    }
}

.top_img_text{
    opacity: 1 !important;
    padding: 35vh 0 0 50px;
    width: 100%;
    height: 50vh;
    background-color: rgba(0, 0, 0, 0.562);
}

.top_img_text a, .top_img_text p{
    color: #c0c0c0;
    font-size: 14px;
    font-weight: 600;
    padding: 0px 10px 0px 0px;
    transition: 200ms;
    display: inline;
}

.top_img_text a:hover{
    color: white !important;
    text-decoration: none;
}

.top_img_text h2{
    margin-top: 10px;
    color: white;
    font-weight: bold;
    font-size: 40px;
}

#gallery .card{
    border: 0 !important;
    box-shadow: 0px 10px 27px -9px rgba(0, 0, 0, 0.425);
}

#gallery .card .card-title{
    font-weight: 600;
    font-size:15px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.734);
    text-align: center;
}

#gallery .card .card-text{
    font-size: 13px;
    text-align: center;
    color: black;
    min-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* contact */
.contact_bg{
    width: 100%;
    height: 60vh;
    padding-top: 40vh;
    background-color: black;
    background-image: url("../images/contact.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact_bg h3{
    font-size: 40px;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px white;
    color: rgb(0, 24, 68);
    font-weight: bold;
    /* font-family: Dosis; */
    margin-left: 350px;
}

@media(max-width: 900px){
    .contact_bg h3{
        margin-left: 0 !important;
        font-size: 30px;
        text-align: center;
    }
}

.con-ic i {
    font-size: 22px;
    color: rgb(0, 24, 68);
    width: 80px;
    height: 80px;
    line-height: 3.5;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.37);
}

.contact-grid1 h4 {
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.contact-grid1 p a {
    color: #999;
    text-decoration: none;
    font-size: 13px;
}

.contact-grid1 p a:hover {
    color: #000;
}

.contact-grid1 p{
    font-size: 13px;
}

.contact-grid1 p label {
    display: block;
    font-weight: normal;
    font-size: 13px;
}

.contact-form1 h4,
.contact-me h4 {
    font-size: 1.2em;
    color: #3e3a3a;
    margin: 0 0 .5em;
}

.contact-form1 input[type="text"],
.contact-form1 input[type="email"],
.contact-me textarea {
    outline: none;
    padding: 10px;
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    font-size: 14px;
    color: #000;
    width: 100%;
    border-radius: 0;
}

.contact-form1 label, .contact-me label{
    font-size: 13px;
    font-weight: 600;
}

.contact-me textarea {
    min-height: 18em;
    resize: none;
}

.contact-me textarea:focus {
    background: #f5f5f5;
}

.contact-grids1 input[type="submit"] {
    outline: none;
    padding: 13px 0;
    border: none;
    background: rgb(0, 24, 68);
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    width: 100%;
    margin-top: 1em;
    cursor: pointer;
}

.contact-grids1 input[type="submit"]:hover {
    background: rgba(0, 24, 68, 0.919);
    letter-spacing: 6px;
}

/* Profile */
.profile .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 !important;
    box-shadow: 0px 10px 27px -9px rgba(0, 0, 0, 0.425);
}

.profile h6{
    font-size: 15px;
    color: black;
}

.profile div{
    font-size: 13px;
}

.profile .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.profile .mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.profile .bg-gray-300 {
    background-color: #e2e8f0;
}

.profile .h-100 {
    height: 100%!important;
}

.profile .shadow-none {
    box-shadow: none!important;
}

.p__t{
    border-top: 1px solid rgba(0, 0, 0, 0.337);
    padding-top: 10px;
}

.pr_tl{
    line-height: 50px;
}

.pr_tl div:nth-child(2){
    text-align: right;
}

.profile-below{
    color: black;
    font-weight: 600;
    line-height: 30px;
    width: 100%;
}

.profile-below span{
    color: rgba(0, 0, 0, 0.768);
    font-weight: normal;
}

.img_upload{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000036;
}

.img_upload img{
    max-width: 100%;
    max-height: 100%;
}

.upload_profile{
    /* background-color: rgb(255, 241, 215); */
    color: black;
    font-weight: 600;
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.upload_profile:hover{
    transform: scale(1.02);
}

.upload_profile i{
    color: rgba(0, 0, 0, 0.741);
    font-size: 15px;
    text-align: center;
    justify-content: center;
    border: 1px solid rgba(0, 24, 68, 0.308);
    width: 80%;
    line-height: 30px;
}

.login-dark {
    height:100vh;
    background:#475d62 url('../images/auth-bg.jpg');
    backdrop-filter: blur(5px);
    background-size:cover;
    background-position: center center;
    position:relative;
}

.login-dark form {
    max-width:320px;
    width:90%;
    background-color:#e9e9e9;
    padding:40px;
    border-radius:4px;
    transform:translate(-50%, -50%);
    position:absolute;
    top:55%;
    left:50%;
    color:rgb(0, 0, 0);
}

.login-dark .illustration {
    text-align:center;
    padding:15px 0 20px;
    font-size:100px;
    color: rgb(0, 32, 90);
}
  
.login-dark form .btn-primary {
    background:rgb(0, 32, 90);
    border:none;
    border-radius:4px;
    padding:11px;
    font-weight: 13px;
    box-shadow:none;
    margin-top:26px;
    text-shadow:none;
    outline:none;
    transition: 200ms;
}
  
.login-dark form .btn-primary:hover{
    background:#214a80;
}

.login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background:#214a80;
    outline:none;
}

.login-dark form .forgot {
    display:block;
    text-align:center;
    font-size:11px;
    color:#6f7a85;
    opacity:0.9;
    text-decoration:none;
}

.login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity:1;
    text-decoration:none;
    color: black;
}

.login-dark form .btn-primary:active {
    transform:translateY(1px);
}

.courses table, .result table{
    width:100%;
    table-layout: fixed;
}

.courses .tbl-header, .result .tbl-header{
    background-color: rgba(0, 32, 90, 0.933);
}

.courses .tbl-content, .result .tbl-content{
    height:300px;
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(0, 32, 90, 0.371);
}

.courses .tbl-foot table tr td button, .result .tbl-foot table tr td button{
    float: right;
    width: 150px;
    line-height: 30px;
    border: none !important;
    background-color: rgba(0, 0, 0, 0.837);
    color: white;
}

.courses .tbl-foot table tr:hover, .result .tbl-foot table tr:hover{
    background-color: transparent;
}

.courses th, .result th{
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

.courses td, .result td{
    padding: 15px;
    text-align: left;
    vertical-align:middle;
    font-weight: 500;
    font-size: 12px;
    color: rgb(0, 0, 0);
    border: solid 1px rgba(0, 32, 90, 0.1);
    text-align: center;
}

.courses tr:hover, .result tr:hover{
    background-color: rgba(0, 32, 90, 0.111);
}

.courses .even, .result .even{
    background-color: rgba(0, 32, 90, 0.233);
}

.result-table, .courses-table{
    overflow-x: scroll;
}

#result, #courses{
    min-width: 800px;
}

.result-info p{
    font-size: 13px;
    font-weight: 500;
}

.result-details{
    width: 30vw;
}

@media(max-width: 840px){
    .result-details{
        width: 60vw;
    }
}

@media(max-width: 400px){
    .result-details{
        width: 100%;
    }
}

.result-details tr td{
    text-align: left;
}

.library .row img{
    box-shadow:3px 3px 4px rgba(253, 253, 253, 0.2);
}

.library .row img:hover{
    transform: scale(1.05);
}

.notification .row .row{
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.118);
    margin-bottom: 10px;
}

.notification .row .new{
    background-color: rgba(0, 32, 90, 0.295);
}

.notification .row .row div{
    border: 1px solid rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
}

.notification .row .row div a{
    font-style: italic;
}

.timetable .row .row{
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.118);
    margin-bottom: 10px;
}

.timetable .row .row div{
    border: 1px solid rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
}

.timetable .row .row div a{
    font-style: italic;
}

.voucher .row .row{
    line-height: 50px;
    background-color: rgba(0, 0, 0, 0.118);
    margin-bottom: 10px;
}

.voucher .row .row div{
    border: 1px solid rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 500;
}

.voucher .row .row div a{
    font-style: italic;
}

.attendance .att{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.2);
}

.attendance .row .semester01, .attendance .row .semester02, .attendance .row .complete_att01, .attendance .row .complete_att02{
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.076);
}

.attendance .row .semester01 .row, .attendance .row .semester02 .row, .attendance .row .complete_att01 .row, .attendance .row .complete_att02 .row{
    padding: 20px;
}

.attendance .att_title{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    line-height: 30px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.158);
}

.records #accordion .card-header .btn{
    width: 100%;
    box-shadow: none !important;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.755);
    font-size: 14px;
    font-weight: bold;
}

.records #accordion .card-header .btn:hover{
    color: black;
}

.records #accordion .card-header .btn i{
    float: right;
}

.record-details table{
    width: 400px;
}

.record-details table tr td{
    border: 1px solid rgba(0, 0, 0, 0.111);
    line-height: 50px;
    padding: 0 10px;
    font-size: 13px;
}

.record-details table tr:nth-child(3) td{
    font-weight: 600;
    font-size: 15px;
}

@media(max-width: 500px){
    .record-details table{
        width: 100%;
    }
}

.main__404{
    max-width: 100%;
    position: relative;
}

.mainbox {
    background-color: rgb(0, 32, 90);
    margin: auto;
    height: 500px;
    width: 600px;
    position: relative;
    margin-top: 15vh;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 650px){
    .mainbox{
        margin-top: 0;
        margin-bottom: 0;
        width: 100vw;
        height: 100vh;
    }
}
  
.main__404 .mainbox .err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position:absolute;
    width: 100%;
    text-align: center;
    top: 8%;
}

.main__404 .mainbox .msg {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    position:absolute;
    top: 55%;
    width: 75%;
}

@media(max-width: 650px){
    .main__404 .mainbox .err{
        top: 40%;
        font-size: 50px;
    }

    .main__404 .mainbox .msg{
        font-size: 15px;
    }
}

.main__404 .mainbox a {
    text-decoration: none;
    color: rgb(0, 174, 255);
}

.main__404 .mainbox a:hover {
    text-decoration: underline;
}

.scoresheet_download{
    display: block;
    color: rgb(255, 255, 255) !important;
    background-color: rgb(0, 32, 90);
    line-height: 30px;
    width: 100px;
    text-decoration: none !important;
}

.scoresheet_download:hover{
    background-color: rgba(0, 32, 90, 0.774);
}

.scoresheet .d-flex{
    margin-top: 10vh;
}

.scoresheet .card{
    width: 200px;
    background-color: transparent;
    border: none !important;
}

#dropdown{
    width: 100%;
    line-height: 40px;
    padding: 0 0 0 20px;
    text-align: left;
    font-weight: 700;
    color: white;
    font-size: 13px;
    background-color: rgb(0, 32, 90);
    cursor: pointer;
    transition: 200ms;
}

#dropdown:hover{
    box-shadow: 0px 1px 5px rgba(0, 32, 90, 0.589);
}

#dropdown i{
    float: right;
    line-height: 40px;
    transition: 200ms;
    width: 50px;
    text-align: center;
}

#dropdown_menu{
    width: 100%;
    background-color: rgba(0, 32, 90, 0.838);
    height: 0px;
    visibility: hidden;
    overflow-y: scroll;
    transition: 200ms;
}

#dropdown_menu::-webkit-scrollbar{
    width: 5px;
    z-index: 7 !important;
}

#dropdown_menu::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.859);
}

#dropdown_menu::-webkit-scrollbar-track{
    background-color: transparent;
}

#dropdown_menu a{
    display: block;
    width: 100%;
    line-height: 40px;
    padding: 0px 20px;
    text-align: left;
    font-weight: 500;
    color: white;
    font-size: 13px;
    text-decoration: none;
    transition: 200ms;
}

#dropdown_menu a:hover{
    background-color: white;
    color: rgb(0, 32, 90);
}

.fileuploader{
    width: 50%;
    background-color: #0064b7;
    padding: 30px 30px 0 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
}

@media(max-width: 700px){
    .fileuploader{
        width: 100%;
    }
}

.fileuploader .cloud_icon{
    font-size: 50px;
    background: white;
    color: #0064b7;
    border-radius: 100%;
    width: 100px;
    line-height: 100px;
    text-align: center;
}

.fileuploader form input[type="file"]{
    display: none;
}

.fileuploader form label{
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid white;
    background: white;
    color: #0064b7;
    font-size: 12px;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    transition: 200ms;
}

.fileuploader form label:hover{
    border: 1px solid white;
    background: #0064b7;
    color: white;
}

.fileuploader .file_display{
    width: 100%;
    border: 2px dashed rgb(232, 232, 232);
    padding:30px;
    margin: 20px 0;
    border-radius: 5px;
}

.fileuploader .file_display i{
    font-size: 60px;
    color: rgba(232, 232, 232);
    width: 100%;
    text-align: center;
}


.fileuploader .file_display div{
    margin-top: 10px;
    font-size: 13px;
}

.fileuploader form input[type="submit"]{
    cursor: pointer;
    padding: 10px 20px;
    border: 1px solid white;
    background: white;
    color: #0064b7;
    font-size: 12px;
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    transition: 200ms;
    border: 0 !important;
}

.admin_base{
    padding: 20px;
    width:100%;
    border-radius: 2px;
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 10px 27px -9px rgba(0, 0, 0, 0.425);
}

.dash_cat_title{
    font-size: 15px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.734);
    text-align: center;
}

.dash_cat_details{
    font-size: 30px;
    font-weight: 600;
    color: black;
    font-family: Dosis;
}

#newsfeed_head button{
    font-size: 14px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    box-shadow: none;
    text-transform: uppercase;
}

.update_news{
    display: flex;
    justify-content: center;
    align-items: center;
}

.update_news form{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.update_news textarea, .update_news button{
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
}

.update_news .label_box{
    width: 100%;
    text-align: center;
}

.update_news label{
    cursor: pointer;
    line-height: 30px;
    padding: 0px 10px;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(0, 32, 90);
    color: white;
    border: 2px solid rgb(0, 32, 90);
    transition: 200ms;
}

.update_news label:hover{
    background-color: white;
    color: rgb(0, 32, 90);
}

.update_news form #thumbnail_info{
    display: flex;
    width: 300px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    border: 2px dashed rgba(0, 0, 0, 0.253);
}

.update_news form #thumbnail{
    display: none;
}

#thumbnail_preview{
    max-width: 200px;
}

#thumbnail_name{
    width: 100%;
    font-size: 13px;
    font-weight: 600;
    text-align: center;
}

#newsfeed_title, textarea{
    width: 100%;
    font-size: 13px;
    font-weight: 600;
}

.update_news button{
    line-height: 30px;
    font-size: 13px;
    font-weight: 700;
    background-color: rgb(0, 32, 90);
    color: white;
    border: 2px solid rgb(0, 32, 90);
    transition: 200ms;
}

.update_news button:hover{
    background-color: white;
    color: rgb(0, 32, 90);
}

.current_feed_title h5{
    text-align: center;
    font-weight: 700;
}

.current_feed .row{
    font-size: 13px;
    font-weight: 500;
}

.student #overflow{
    overflow-x: scroll;
    border: 1px solid #00000050;
    padding: 10px;
}

.student table {
    width: 100vw;
    border-collapse: collapse;
    float: left;
    margin-top: 10px !important;
}
  
.student tr:nth-of-type(odd) {
    background: #f4f4f4;
}

.student tr:nth-of-type(even) {
    background: #fff;
}

.student th {
    background: rgb(0, 32, 90);
    color: #ffffff;
    font-weight: 300;
    cursor: pointer;
}

.student th i{
    float: right;
}

.student td,
.student th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.student td:nth-of-type(1) {
    font-weight: 500 !important;
}

.student td {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    line-height: 20px;
}

.student span {
    font-style: italic
}
  
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
    .student table.responsive,
    .student .responsive thead,
    .student .responsive tbody,
    .student .responsive th,
    .student .responsive td,
    .student .responsive tr {
        display: block !important;
    }

    .student .responsive thead tr {
        position: absolute !important;
        top: -9999px;
        left: -9999px;
    }

    .student .responsive tr {
        border: 1px solid #ccc;
    }

    .student .responsive td {
        border: none;
        border-bottom: 1px solid #eee !important;
        position: relative !important;
        padding-left: 25% !important;
    }

    .student .responsive td:before {
        position: absolute !important;
        top: 6px;
        left: 6px;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap !important;
        font-weight: 500 !important;
    }

    .student .responsive td:before {
        content: attr(data-table-header) !important;
    }
}