{% extends "base.html" %}
{% load static %}

{% block page_content %}
<div class="main_body courses">
    <div class="body_title">ALLOCATED COURSES</div>
    <hr>
    <section class="pt-5 courses-table">
        <div id="courses">
            <div class="tbl-header pr-3">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <col style="width:5%">
                    <col style="width:23.75%">
                    <col style="width:23.75%">
                    <col style="width:23.75%">
                    <col style="width:23.75%">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Course Code</th>
                            <th>Course Title</th>
                            <th>Course Units</th>
                            <th>Scoresheet</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <div class="tbl-content">
                <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <col style="width:5%">
                    <col style="width:23.75%">
                    <col style="width:23.75%">
                    <col style="width:23.75%">
                    <col style="width:23.75%">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>GSP 201</td>
                            <td>Humanities I</td>
                            <td>2</td>
                            <td class="d-flex justify-content-center"><a href="#" class="scoresheet_download">Download</a></td>
                        </tr>
                        <tr class="even">
                            <td>2</td>
                            <td>CSC 201</td>
                            <td>Computer Programming I</td>
                            <td>2</td>
                            <td class="d-flex justify-content-center"><a href="#" class="scoresheet_download">Download</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>GSP 201</td>
                            <td>Humanities I</td>
                            <td>2</td>
                            <td class="d-flex justify-content-center"><a href="#" class="scoresheet_download">Download</a></td>
                        </tr>
                        <tr class="even">
                            <td>4</td>
                            <td>CSC 201</td>
                            <td>Computer Programming I</td>
                            <td>2</td>
                            <td class="d-flex justify-content-center"><a href="#" class="scoresheet_download">Download</a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>GSP 201</td>
                            <td>Humanities I</td>
                            <td>2</td>
                            <td class="d-flex justify-content-center"><a href="#" class="scoresheet_download">Download</a></td>
                        </tr>
                        <tr class="even">
                            <td>6</td>
                            <td>CSC 201</td>
                            <td>Computer Programming I</td>
                            <td>2</td>
                            <td class="d-flex justify-content-center"><a href="#" class="scoresheet_download">Download</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
{% endblock %}
