{% extends "base.html" %}
{% load static %}


{% block page_content %}
<style>
    .success_title{
        font-weight: 800;
        text-transform: uppercase;
    }
    #success_message{
        background-color: #178a00;
        color: #ffffff;
        font-size: 13px;
        position: fixed;
        width: 300px;
        padding: 10px;
        top: 100px;
        right: -500px;
        z-index: 5;
    }
    #success{
        border-top: 1px solid #ffffff62;
        padding: 10px 20px;
    }
    #close{
        font-size: 15px;
        width: 100%;
        line-height: 20px;
        cursor: pointer;
    }
    form{
        background-color: #00205a;
        padding: 20px;
        border-radius: 10px;
    }
    input {
        background:none;
        border:none;
        font-size: 13px;
        border-bottom:2px solid #ffffff7c;
        border-radius:0;
        box-shadow:none;
        outline:none;
        color:white;
        line-height: 20px;
        width: 100%;
    }
    label{
        color: white;
        font-size: 13px;
    }
    select{
        padding: 10px 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #ffffff88;
        background-color: transparent;
        color: white;
        font-size: 13px;
        cursor: pointer;
    }
    @media(max-width: 500px){
        select{
            width: 100%;
        }
    }
    select option{
        color: black;
    }
    button{
        color: white;
        background-color: #00205a;
        border: 2px solid #ffffff88;
        outline: none;
        padding: 10px 30px;
        font-size: 13px;
        font-weight: 600;
        transition: 200ms;
    }
    button:hover{
        background-color: white;
        color: #00205a;
    }
</style>
<div id="success_message" class="row">
    <div class="col-12 row">
        <div class="col-10 success_title">
            Success
        </div>
        <div class="col-2 text-right" id="close">
            <i class="fas fa-times"></i>
        </div>
    </div>
    <hr>
    <div class="col-12" id="success">{{ success }}</div>
</div>
<div class="main_body">
    <div class="body_title">ADD NEW COURSE</div>
    <hr>
    <div>
        <form action="" method="POST" class="row">
            {% csrf_token %}
            <br>
            <hr>
            <br>
            <div class="row p-4">
                <div class="col-md-6 col-sm-12 row p-3">
                    <div class="col-md-4 col-sm-12">
                        <label for="code">Course Code:</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" name="code" id="code" required>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 row p-3">
                    <div class="col-md-4 col-sm-12">
                        <label for="title">Course Title:</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="text" name="title" id="title" required>
                    </div>
                </div>
                <hr>
                <div class="col-md-6 col-sm-12 row p-3">
                    <div class="col-md-4 col-sm-12">
                        <label for="unit">Course Unit:</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <input type="number" name="unit" id="unit" required>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 row p-3">
                    <div class="col-md-4 col-sm-12">
                        <label for="group">Group:</label>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select name="group" id="group" required>
                            <option selected="selected" disabled>---</option>
                            <option value="core">Core</option>
                            <option value="elect">Elective</option>
                            <option value="gns">General Studies</option>
                        </select>
                    </div>
                </div>
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
</div>
<script>
    window.onload = (event) => {
        let success = document.getElementById('success')
        let success_box = document.getElementById('success_message')
        if(success.innerText == ''){
            success_box.style.right = '-500px'
        }else{
            success_box.style.right = '10px'
        }
    };
    document.getElementById('close').onclick = () => {
        document.getElementById('success_message').style.right = '-500px'
    }
</script>
{% endblock %}
