{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    th, td{
        font-size: 13px;
    }
    #overflow{
        overflow-y: scroll;
        max-height: 400px;
    }
</style>
<div class="main_body student">
    <div class="body_title">COURSE ALLOCATION LIST</div>
    <hr>
    <div id="overflow">
        <table cellpadding="0" cellspacing="0" width="100%">
            <col style="width:5%">
            <col style="width:19%">
            <col style="width:19%">
            <col style="width:19%">
            <col style="width:19%">
            <thead>
                <tr>
                    <th>#</th>
                    <th class="text-center">Username</th>
                    <th class="text-center">Full Name</th>
                    <th class="text-center">Allocated Courses</th>
                    <th class="text-center">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for i in n %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>Not yet loaded</td>
                    <td>Not yet loaded</td>
                    <td>{{ c }}</td>
                    <td class="text-center"><a href="#" class="bg-primary text-light" style="padding: 5px 20px; font-size: 13px;">Edit</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
