{% extends "base.html" %}
{% load static %}

{% block page_content %}
<style>
    form{
        background-color: #00205a;
        padding: 20px;
        border-radius: 10px;
    }
    input:not(.form-check input) {
        background:none;
        border:none;
        font-size: 13px;
        border-bottom:2px solid #ffffff7c;
        border-radius:0;
        box-shadow:none;
        outline:none;
        color:white;
        line-height: 20px;
        width: 100%;
    }
    .label, label{
        color: white;
        font-size: 14px;
    }
    select{
        padding: 10px 20px;
        border: none;
        outline: none;
        border-bottom: 2px solid #ffffff88;
        background-color: transparent;
        color: white;
        font-size: 13px;
        cursor: pointer;
    }
    @media(max-width: 500px){
        select{
            width: 100%;
        }
    }
    select option{
        color: black;
    }
    button{
        color: white;
        background-color: #00205a;
        border: 2px solid #ffffff88;
        outline: none;
        padding: 10px 30px;
        font-size: 13px;
        font-weight: 600;
        transition: 200ms;
    }
    button:hover{
        background-color: white;
        color: #00205a;
    }
</style>
<div class="main_body">
    <div class="body_title">COURSE ALLOCATION</div>
    <hr>
    <div>
        <form action="" method="POST" class="row">
            {% csrf_token %}
            <br>
            <hr>
            <br>
            <div class="row p-4">
                <div class="col-12 row m-3">
                    <div class="col-md-4 col-sm-12 text-light label">
                        Lecturer's Name:
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <select name="lecturer" id="lecturer" required>
                            <option selected="selected" disabled>---</option>
                            {% for lecturer in lecturers %}
                            <option value="{{ lecturer.username }}">{{ lecturer.get_full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-12 row m-3">
                    <div class="col-md-4 col-sm-12 text-light label">
                        Allocate Course(s):
                    </div>
                    <div class="col-md-8 col-sm-12">
                        {% for course in courses %}
                        <div class="form-check m-2">
                            <input class="form-check-input" type="checkbox" value="" id="{{ course.id }}">
                            <label class="form-check-label" for="{{ course.id }}">{{ course.course_code }} - {{ course.course_title }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="m-4">
                    <button type="submit">Allocate</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
