{% extends "base.html" %}
{% load static %}


{% block page_content %}

<div class="main_body">
    <div class="body_title">Remove "{{ course.course_title }}"?</div>
    <hr>
    <div>
        <div class="text-center">Are you sure you want to remove this course? If removed, it cannot be restored.</div>
        <br>
        <div class="d-flex align-items-center justify-content-center">
            <a href="{% url 'confirm course remove' course.id %}" style="background-color: #9d1a1a; display: block; padding: 10px 20px; margin: 30px; color: #ffffff; font-size: 13px;">Yes, I'm sure</a>
            <a href="{% url 'all courses' %}" style="background-color: #d8d8d8; display: block; padding: 10px 20px; margin: 30px; color: black; font-size: 13px;">No, go back</a>
        </div>
    </div>
    
</div>
{% endblock %}
